<div class="title-container">
    <div class="container" style="text-align: center;margin:5%"><h1>Registro de Usuarios</h1></div>
    <div class="container" style="text-align: center">
      <form [formGroup]="form" (submit)="insertar()" >
  
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Código</mat-label>
          <input matInput  formControlName="codigo" readonly="true"/>
        </mat-form-field>
        <br />
  
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" />
        </mat-form-field>
        <br />
  
        <mat-form-field class="example-full-width">
          <mat-label>Enabled</mat-label>
          <mat-select formControlName="enabled">
            <mat-option value="true">TRUE</mat-option>
            <mat-option value="false">FALSE</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>cod.Usuario</mat-label>
          <input matInput formControlName="codUs" />
        </mat-form-field>
  
        <br />
        <mat-form-field class="example-full-width">
            <mat-label>Fecha registro</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="freg" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
             matIconSuffix
            [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" />
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="apellido" />
        </mat-form-field>
        <br />
        
        <mat-form-field class="example-full-width">
            <mat-label>Fecha nac.</mat-label>
            <input
              matInput
              [matDatepicker]="picker2"
              formControlName="fnac"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Correo</mat-label>
            <input matInput formControlName="correo" />
        </mat-form-field>
        <br />


        <div style="text-align: center;">
          <button mat-flat-button  color="warn">Registrar</button>
        </div>
      </form>
    </div>
  </div>
