<div class="title-container">
    <div class="container" style="text-align: center;margin:5%"><h1>Registro de Usuarios</h1></div>
    <div class="container" style="text-align: center">
      <form [formGroup]="form" (submit)="insertar()" >
  
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Código</mat-label>
          <input matInput  formControlName="codigo" readonly="true"/>
        </mat-form-field>
        <br />
  
        <mat-form-field class="example-full-width">
          <mat-label>Rol</mat-label>
          <input matInput formControlName="rol" />
        </mat-form-field>
        <br />

        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <mat-select formControlName="usuario">
              @for (user of listaUsuarios; track user) {
              <mat-option [value]="user.id">{{ user.username }}</mat-option>
              }
            </mat-select>
        </mat-form-field>
        <br />

        <div style="text-align: center;">
          <button mat-flat-button  color="warn">Registrar</button>
        </div>
      </form>
    </div>
  </div>
