<div class="title-container">
    <div class="container" style="text-align: center; margin: 2%">
      <h1>Registro de Reservas</h1>
    </div>
    <div class="container" style="text-align: center">
  
        <form [formGroup]="form" (submit)="insertar()" >
  
        <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>Código</mat-label>
            <input matInput  formControlName="hcodigores" readonly="true"/>
          </mat-form-field>
          <br />
  
        <br />
        <mat-form-field>
          <mat-label>Fecha de Reserva</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="hfechares" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br />
  
        <mat-form-field class="example-full-width">
          <mat-label>Hora de Inicio de Reserva</mat-label>
          <input matInput placeholder="09:00" formControlName="hinicio" />
        </mat-form-field>
        <br />
  
        <mat-form-field class="example-full-width">
            <mat-label>Hora de Termino de Reserva</mat-label>
            <input matInput placeholder="10:00" formControlName="hfin" />
          </mat-form-field>
          <br />
  
          <mat-form-field>
            <mat-label>Via</mat-label>
            <mat-select formControlName="hviares">
              @for (tipo of listaTipos; track tipo) {
              <mat-option [value]="tipo.value">{{ tipo.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <br />
        <div style="text-align: center">
          <button mat-flat-button color="warn">Registrar</button>
        </div>
      </form>
    </div>
  </div>
